*{
    background: #111227;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}
.loader span{
    border: 0;
    margin: 0;
    width: 45%;
    height: 45%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
    transition: all 1s cubic-bezier(0.65, -0.55, 0.265, 1.55);
}
.loader :first-child{
    background: #00b7ff;
    animation-delay: -1.5s;
}
.loader :nth-child(2){
    background: #73ff00;
    animation-delay: -1s;
}
.loader :nth-child(3){
    background: #fd00c6;
    animation-delay: -0.5s;
}
.loader :last-child{
    background: #00f7ff;
}
@keyframes spin{
    0%{transform: translate(0) scale(0);}
    25%{transform: translate(200%) scale(1.5);}
    50%{transform: translate(200%, 200%) scale(0);}
    75%{transform: translate(0, 200%) scale(1.5);}
    100%{transform: translate(0) scale(0);}
}
.wor h3{
    color: #ffffff;
    font-size: 35px;
    font-family: "Informal Roman";
    margin-top: 650px;
    margin-right: -8px;
}
@media(max-width: 999px){
    .wor h3{
        font-size: 35px;
        margin-top: 30px;
    }
}