::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #6600ff;
    border-radius: 1px;
}
::-webkit-scrollbar-thumb{
    background: #00a2e2;
    border-radius: 50px;
}
canvas {
    position: center;
    top: 10;
    left: 0;
  }
h1{
    
}
.logo img{
    width: 550px;
    height: 210px;
    margin-top: -280px;
}

@media(max-width: 1040px){
    .logo img{
        width: 1250px;
        height: 710px;
        margin-top: 80px;
        margin-right: -500px;
    }
    h1{
        font-size: 100px;
        margin-right: -500px;
    }
}